{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6">
				<img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
			</div>
			<div class="col-md-6">
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_category', {slug : product.category.slug } ) }}">{{ product.category }}</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{ product.category.name }}</li>

					</ol>
				</nav>
				<h1>{{ product.name }}</h1>
				<p class="card-text mb-3">{{ product.pricewt | price }}</p>

				{{ product.description | raw }}
				<button class="mt-3 btn btn-success">
					<span>Ajouter au panier</span>
					<i data-feather="shopping-cart"></i>
				</button>

			</div>
		</div>
	</div>
{% endblock %}
